@model FormAuthSample4.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="col-md-12">
        @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
        {
            @ViewBag.Error
            //@Html.AntiForgeryToken()
            <table>
                @*<tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="label-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Reset" />
                    </td>
                </tr>*@

                <thead>
                    <tr>
                        <th>Employee Name</th><th></th>
                        <th>Employee Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListofEmployee)
                    {
                        <tr>
                            <td>@item.empName</td><td></td>
                            <td>@item.empSalary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>

</html>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>